body {
  font-family: monospace;
  background-color: black;
  margin: 7.5px;
  color: white;
  text-align: center;
}
table {
    width: 100%;
}
tr {
    width: 100%;
}
button {
  user-select: none;
  background-color: black;
  color: white;
  font-family: monospace;
  border-color: white;
  border: 3px solid;
  border-radius: 0px;
  cursor: pointer;
}