body {
  font-family: monospace;
  background-color: black;
  margin: 7.5px;
  color: white;
  text-align: center;
}
table {
    width: 100%;
}
tr {
    width: 100%;
}
h3 {
  margin: 0;
}
h2 {
  margin: 0;
}
h1 {
  margin: 0;
}
.notlong{
  width:auto;
}
.tbutton {
  margin: 0;
  padding: 0;
  width: 100%;
}
#tabbuttons {
   display: grid; /* tysm rivu!! :3 */
   grid-auto-columns: minmax(0, 1fr);
   grid-auto-flow: column;
}
button {
  user-select: none;
  background-color: black;
  color: white;
  font-family: monospace;
  border-color: white;
  border: 3px solid;
  border-radius: 0px;
  cursor: pointer;
}
#loading {
  background-color: rgba(0,0,0,0.75); /* your color */
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  left:0;
  pointer-events:none;
  z-index:10
}
.upgradebuttons {
  text-align: center;
}
.rainbow {
  animation: rainbowtext 3s linear 0s infinite
}
@keyframes rainbowtext {
  0%    {color: hsl(0, 100%, 65%)}
  12.5% {color: hsl(45, 100%, 65%)}
  25%   {color: hsl(90, 100%, 65%)}
  37.5% {color: hsl(135, 100%, 65%)}
  50%   {color: hsl(180, 100%, 65%)}
  62.5% {color: hsl(225, 100%, 65%)}
  75%   {color: hsl(270, 100%, 65%)}
  87.5% {color: hsl(315, 100%, 65%)}
  100%  {color: hsl(360, 100%, 65%)}
}