body {
  font-family: monospace;
  background-color: black;
  margin: 7.5px;
  color: white;
  text-align: center;
}
table {
    width: 100%;
}
tr {
    width: 100%;
}
h2 {
  margin: 0;
}
.notlong{
  width:auto;
}
.tbutton {
  margin: 0;
  padding: 0;
  width: 100%;
}
#tabbuttons {
  height: 1em;
}
button {
  user-select: none;
  background-color: black;
  color: white;
  font-family: monospace;
  border-color: white;
  border: 3px solid;
  border-radius: 0px;
  cursor: pointer;
}
#loading {
  background-color: rgba(0,0,0,0.75); /* your color */
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  left:0;
  pointer-events:none;
  z-index:10
}
.upgradebuttons {
  text-align: center;
}